@media only screen and (max-width: 600px ) {
    .container {
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            gap: 2rem;
            width: 90%;
            margin: 2rem 2rem;
        }

 
    
}