.hero-course {
    text-align: center;
    padding: 1rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    justify-content: center;
    text-align: center;
}
.container section{
    border: 2px solid #ac0909;
    border-radius: 8px;
    padding: 5%;
    background-color: #ac0909;
    color: white;
    margin: 1rem;
}

.container img {

    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1rem;
    border-radius: 8px;
}

