body {
    background-color:#fefae0;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
}

header {
    background-color:#ccd5ae;
}

nav {
    background-color:#e9edc9;
}
nav a {
    list-style:none;

}

.course-title {
    color:black;

}