* {
    margin:0;
    padding:0;
}

body {
    background-color:#fefae0;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
}

header {
    display:block;
    background-color:#344e41;
    color: white;
    text-align: center;
    font-size: 2rem;
}
#course-title {
    display:block;
    padding: 1rem 0;
    font-weight: bold;
}
nav {
    background-color:#588157;
    padding: 1rem;
}
nav ul {
    list-style: none;
    display:flex;
    justify-content: space-around;
}
nav a {
    font-size:1.3rem; 
    text-decoration: none;
    color:white;
    border-radius: 7px;
    padding: 0.5rem 1rem;

}
nav a:hover {
    background-color: #a3b18a;
    
}

main {
    padding: 1rem;  
}

.card-container {
    display: flex;
    justify-content:center;
    gap: 2rem;
    padding: 2rem;
}
.card {
    background-color: white;
    border: 1px solid #dad7cd;
    border-radius: 8px;
    padding: 1rem;
    max-width: 600px;
    flex: 1;
}
.left-title {
    background-color: #588157;
    padding:1rem;
    border-radius: 8px;
    text-align: center;
   
}
.about_me {
    padding:0.5rem;
    display: flex;
}
.about_country {
    text-align: center;
}
footer {
    background-color: #3a5a40;
    padding: 2rem;
    margin: 1rem;
    text-align: center;
    color:white;

}