* {
    margin:0;
    padding:0;
}

body {
    background-color:#fefae0;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
}

header {
    display:block;
    background-color:#344e41;
    color: white;
    text-align: center;
    font-size: 2rem;
}
#course-title {
    display:block;
    padding: 1rem 0;
    font-weight: bold;
}
nav {
    background-color:#588157;
    margin: 1rem;
    padding: 1rem;
    border-radius:12px;
}
nav ul {
    list-style: none;
    display:flex;
    justify-content: space-around;
}
nav a {
    font-size:1.3rem; 
    text-decoration: none;
    color:white;
    border-radius: 7px;
    padding: 0.5rem 1rem;

}
nav a:hover {
    background-color: #a3b18a;
    
}

main {
    margin:0 auto 2rem;
    padding: 1rem;  
    max-width: 800px;
}
.name{
    padding: 1rem;
}
.grid {
    display:grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}
.card {
    margin: 1rem;
    background-color: white;
    border: 1px solid #dad7cd;
    flex: 1;
    border-radius:8px;
}
.card-title {
    margin: 0;
    padding: 0.75rem 1rem;
    background-color: #588157;
    color: white;
    text-align: center;
    border-bottom: 1px solid ;
    border-radius: 8px 8px 0 0;
}
.about_me {
    padding:0.5rem;
    display: flex;
}
.photo {
    margin : 0.2rem;
    border-radius: 1rem;
}
.flag {

    align-content: center;
}
.subheading {
    margin:.3rem .9rem 0;
    border-bottom: 3px double #588157;
    text-align: center;
}
.country {
    display:flex;
    padding:0.5rem;
    margin-top:0.5rem;
    
}
.country p {
    padding: 1rem;
}
figure img{
    border: 1px solid #588157;
}
figcaption {
    text-align:center;
}
.links{
    display:grid;
    grid-template-columns:repeat(auto-fit,
        minmax(220px, 1fr)) ;
    padding: 2rem;
}
.links li {
    padding: 0.5rem;
    
}
.links li a {
    text-decoration: none;
    
}

footer {
    background-color: #3a5a40;
    padding: 2rem;
    margin: 1rem;
    text-align: center;
    color:white;

}