@media only screen and (min-width: 64rem) {

    header,
    main,
    footer {
        max-width: 64rem;
        margin: auto;
    }
    
    header {
        margin-bottom : 1rem;
    }

    footer {
        margin-top: 1rem;
        padding: 0.8rem;
    }

}
