* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: rgba(255,255,255,0.6);
    --text-1: black;
    --text-2: white;
    --primary-color: #255f85;
    --secondary-color: #c5283d;
    font-family: "Roboto Slab", "Roboto", serif;
}

header {
    padding: 0.5rem;
    background-color: var(--primary-color);
    color: var(--text-2);
    margin: 0 0.3rem ;
    font-size: 1.5rem;
    text-align: center;
}

@media (min-width : 640px){
.hero {
    background-color: var(--secondary-color);
    position: relative;
    padding: 0.5rem;
    margin: 0 0.3rem;
}
.hero picture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px ;
}
.hero img {
    width :100%;
    height: 900px; 
}
.data {
    width:300px;
    position: absolute; 
    top: 150px;
    left: 100px;
    background-color: var(--bg-color);
    padding: 10px;
}

.data h2 {
    width: 250px;
    background-color: #255f85;
    color: white;
    margin: 10px -20px 20px -20px;
    padding: 15px 30px;
}
.data p {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5px 0;
    gap : 10px;
    font-size: 1.1rem;
}
.data span {
    text-align: right;
}

.weather {
    width: 300px;
    position: absolute;
    bottom: -100px;
    right: 100px;
    background-color: var(--bg-color);
    padding: 10px;
}
.weather h2 {
    width : 250px;
    background-color: #255f85;
    color: white;
    margin: 10px -20px 20px -20px;
    padding: 15px 30px;
    display : grid;
    grid-template-columns: 1fr auto ;
}
.weather h2::after {
    content : "🌤️";
    margin-left: 1rem;
}

.weather-icon {
    display : none;
}
.weather p {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5px 0;
    gap: 10px;
    font-size: 1.1rem;

}
.weather span {
    text-align: right;
} 
#windChill {
    text-align: left;
}

}

footer {
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.3rem;
    padding : 20px;
    margin : 0 0.3rem;
    font-weight: bold;
}
