@media (max-width : 640px) {
    .hero img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    section h2, p {
        text-align : center;
        display: block
    }
    footer {
        width : 100%;
        padding :20px;
        margin: 0 0.3rem;
    }

    
}